body {
  margin: 10px;
}

form {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}

input {
  margin-top: 10px;
  border-radius: 5px;
  height: 60px;
  box-sizing: border-box;
  border-color: black;
  cursor: text;
  text-align: center;
}

.submit {
  border-radius: 5px;
  border-color: black;
  background-color: white;
  height: 60px;
  width: 80px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: 30px;  
}

/* .table-head {
  margin-bottom: 30px;
} */

.table-steps {
  border: solid black 2px;
  border-radius: 5px;  
}

th {
  font-weight: normal;
  width: 200px;
  text-align: start;
}

.item-action {
  cursor: pointer;
  background-color: white;
  border: 0px;
  margin-right: 10px;
}
